[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
seaborn = "*"
statsmodels = "*"
"rpy2" = "*"
jupyter = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
"beautifulsoup4" = "*"
"bs4" = "*"
keras = "*"
tensorflow = "*"
pydot = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.6"
